<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head"></head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu"></header>
<div class="container row">
    <div th:include="../fragments/alertFragment :: alertList"></div>
    <h2>Liste des films</h2>
    <table id="movie-table" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Réalisateur</th>
            <th>Ajouté par</th>
            <th>Date d'ajout</th>
            <th>Note</th>
            <th th:text="${users[0].display}"></th>
            <th th:text="${users[1].display}"></th>
            <th th:text="${users[2].display}"></th>
            <th th:text="${users[3].display}"></th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="10" class="dataTables_empty">Chargement des données</td>
        </tr>
        </tbody>
    </table>
    <div class="clear">
        <button type="button" class="btn btn-success" onclick="jTools.popup.popupNew()">
            <i class="icon-plus"></i>
            <span> Nouveau</span>
        </button>
    </div>
</div>

<div id="popup" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="popupTitle"></h3>
        <input id="newTitle" type="hidden" value="Ajout d'un film"/>
        <input id="editTitle" type="hidden" value="Modification d'un film"/>
    </div>
    <div class="modal-body">
        <form id="popupForm" th:action="@{/movie}" class="icheck" method="post">
            <input type="hidden" id="id" name="id"/>
            <input type="hidden" id="version" name="version"/>


            <div class="control-group">
                <label class="control-label" for="title">Titre</label>

                <div class="controls">
                    <input type="text" id="title" name="title"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="director">Réalisateur</label>

                <div class="controls">
                    <input type="text" id="director" name="director"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="ratings">Note</label>

                <div class="controls">
                    <select id="ratings" name="ratings" class="input-mini">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected="selected">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <ul id="seenBy">
                <li>
                    <input type="checkbox" id="ameliaSawIt" name="ameliaSawIt"/>
                    <label for="ameliaSawIt">Vu par Amelia</label>
                </li>
                <li>
                    <input type="checkbox" id="selrakSawIt" name="selrakSawIt"/>
                    <label for="selrakSawIt">Vu par Charles</label>
                </li>
                <li>
                    <input type="checkbox" id="jujupiwiSawIt" name="jujupiwiSawIt"/>
                    <label for="jujupiwiSawIt">Vu par Julien</label>
                </li>
                <li>
                    <input type="checkbox" id="jossSawIt" name="jossSawIt"/>
                    <label for="jossSawIt">Vu par Jocelyn</label>
                </li>
            </ul>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">
            <i class="icon-remove"></i>
            <span>Fermer</span>
        </button>
        <button type="submit" class="btn btn-success" form="popupForm">
            <i class="icon-ok"></i>
            <span>Valider</span>
        </button>
    </div>
</div>

<div th:include="../fragments/popupFragment :: confirmDeletePopupFragment"></div>

<footer th:include="../fragments/footerFragment :: footer">
</footer>

<script th:src="@{/static/js/specific/movie-list.js}"></script>
</body>
</html>