<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head"></head>
<body>
<header th:include="../fragments/menuFragment :: emptyMenu"></header>
<div class="container row">
    <div th:include="../fragments/alertFragment :: alertForm"></div>
    <h1>Récupération du compte</h1>

    <div class="offset2">
        <form id="password-form" class="form-horizontal" method="post" th:action="@{/sendpassword}">
            <fieldset>
                <legend>Saisir l'adresse mail ou le login</legend>

                <div class="control-group">
                    <label class="control-label" for="login">Login</label>

                    <div class="controls">
                        <input type="text" id="login" name="login" class="input-medium" maxlength="20"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">Email Sopra</label>

                    <div class="controls">
                        <input type="text" id="email" name="email" class="input-xlarge"/>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">
                        <i class="icon-ok"></i> Envoyer
                    </button>
                    <a class="btn" th:href="@{/connexion}">
                        <i class="icon-undo"></i> Retour
                    </a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<footer th:include="../fragments/footerFragment :: footer">
</footer>
<script type="text/javascript">
    //<![CDATA[
    $(function () {
        'use strict';
        $('#password-form').submit(function (e) {
            if ($.trim($('#login').val()).length == 0 && $.trim($('#email').val()).length == 0) {
                e.preventDefault();
                jTools.alert.error('form', "Veuillez saisir une adresse mail ou un login");
            } else {
                this.submit();
            }
        });
    });
    //]]>
</script>
</body>
</html>