<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head"></head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu"></header>
<div class="container row">
    <div th:include="../fragments/alertFragment :: alertList"></div>
    <h2>Liste des quiz</h2>
    <table id="quiz-table" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Créateur</th>
            <th>Date de création</th>
            <th>Nombre d'éxécutions</th>
            <th>Résultat moyen</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="6" class="dataTables_empty">Chargement des données</td>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="../fragments/popupFragment :: confirmDeletePopupFragment"></div>
<footer th:include="../fragments/footerFragment :: footer">
</footer>
<script type="text/javascript">
    $(function () {
        "use strict";
        $('#quiz-table').dataTable({
            sAjaxSource: window.location.pathname + "/list",
            aoColumns: [
                {mData: "title", sWidth: 150},
                {mData: "creator.login"},
                {mData: "createDate", sType: "date-euro", mRender: function (data) {
                    return moment(new Date(data)).format("DD/MM/YYYY HH:mm:ss");
                }},
                {mData: "execNumber"},
                {mData: "meanResult", mRender: function (data) {
                    if (data === null) {
                        return "-"
                    }
                    return data + "%"
                }},
                actions()
            ]
        });
    })

    function actions() {
        "use strict";
        if (window.location.pathname.toString().indexOf("/play") !== -1) {
            return jTools.table.button('icon-gamepad', 'Jouer');
        } else {
            return jTools.table.action();
        }
    }
</script>
</body>
</html>