<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head"></head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu"></header>
<div class="container row">
    <div th:include="../fragments/alertFragment :: alertForm"></div>
    <h1 id="quiz-title" th:text="${quiz.title}"></h1>

    <div class="offset2 span8">

        <div class="progress">

            <div id="quiz-progress" class="bar"></div>
        </div>

        <div id="quiz-list">
            <input type="hidden" id="quiz-id" th:value="${quiz.id}"/>
            <input type="hidden" id="question-id" th:value="${quiz.questions[0].id}"/>
            <input type="hidden" id="question-total" th:value="${quiz.totalQuestion}"/>
            <input type="hidden" id="question-duration" th:value="${quiz.questions[0].duration}"/>

            <div class="row">
                <div class="span6 noclear">
                    <h2>Question n°
                        <span id="question-number" th:text="${lastQuestion.number + 1}"></span>
                    </h2>

                    <div id="question-area">
                        <span id="question-label" th:text="${lastQuestion.label}"></span>
                    </div>
                </div>
                <div id="timer" class="span2"></div>
            </div>
            <div id="quiz-core" class="row">
                <ul class="span6 offset1">
                    <li>
                        <input id="radio-1" name="quiz-radio" tabindex="1" type="radio" checked="checked" value="1"/>
                        <label id="firstAnswer" for="radio-1" th:text="${lastQuestion.firstAnswer}"></label>
                    </li>
                    <li>
                        <input id="radio-2" name="quiz-radio" tabindex="2" type="radio" value="2"/>
                        <label id="secondAnswer" for="radio-2" th:text="${lastQuestion.secondAnswer}"></label>
                    </li>
                    <li id="third-li">
                        <input id="radio-3" name="quiz-radio" tabindex="3" type="radio" value="3"/>
                        <label id="thirdAnswer" for="radio-3" th:text="${lastQuestion.thirdAnswer}"></label>
                    </li>
                    <li id="fourth-li">
                        <input id="radio-4" name="quiz-radio" tabindex="4" type="radio" value="4"/>
                        <label id="fourthAnswer" for="radio-4" th:text="${lastQuestion.fourthAnswer}"></label>
                    </li>
                </ul>
            </div>
            <div id="quiz-action" class="offset3">
                <button id="valid-question" class="btn btn-primary">
                    <i class="icon-ok"></i> Valider
                </button>
            </div>
            <div id="alert-explanation" class='alert fade'>
                <button id="next-explanation" type="button" class="close"> Suivant
                    <i class="icon-arrow-right"></i>
                </button>
                <span><i id="explanation-icon" class="icon-warning-sign"></i></span>
                <span id="explanation-message"></span>
            </div>
        </div>
    </div>
</div>
<footer th:include="../fragments/footerFragment :: footer">
</footer>
<script th:src="@{/static/js/specific/quiz-play.js}"></script>
</body>
</html>