<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <title>jTools</title>
    <meta charset="UTF-8"/>
    <link th:href="@{/static/css/bootstrap.superhero.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/datepicker.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/jquery.dataTables.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/jtools.theme.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/jtools.css}" rel="stylesheet"/>
    <script th:src="@{/static/js/jquery-2.0.0.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/js/jquery.validate.min.js}"></script>
    <script th:src="@{/static/js/jquery.form.min.js}"></script>
    <script th:src="@{/static/js/moment.min.js}"></script>
    <script th:src="@{/static/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/static/js/extend.plugins.js}"></script>
    <script th:src="@{/static/js/jtools.js}"></script>
</head>

</html>