<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

<div th:fragment="fullMenu">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="pull-left">
                    <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" th:href="@{/portal}">jTools</a>
                </div>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a th:href="@{/portal}"><i class="icon-home"></i>Accueil</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript;">
                                <i class="icon-wrench"></i> Outils<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/age}"><i class="icon-gift"></i> Age</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown" href="#"><i class="icon-th-large"></i>
                                Quiz<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/quiz/play}"><i class="icon-gamepad"></i> Jouer</a></li>
                                <li><a th:href="@{/quiz/new}"><i class="icon-plus"></i> Création</a></li>
                                <li><a th:href="@{/quiz/edit}"><i class="icon-edit"></i> Modification</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-cog"></i>Admin<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a th:href="@{/admin/user}"><i class="icon-user"></i> Utilisateurs</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li>
                            <a th:href="@{/user/account}" data-toggle="tooltip" title="Mon compte"
                               data-placement="left">
                                <span sec:authentication="name"></span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/logout}" data-toggle="tooltip" title="Déconnexion" data-placement="right">
                                <i class="icon-signout"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="emptyMenu">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="pull-left">
                    <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" th:href="@{/portal}">jTools</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>